{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
    <title>Ecommerce</title>
</head>
<body>
    <header>
        <nav id="navbar">
            <div class="menu-toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="nav">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'products' %}">Products</a></li>
                <li><a href="{% url 'forum' %}">Forum</a></li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">Register</a>
                    <ul class="dropdown-content">
                         <li><a href="#login">login</a></li>
                         <li><a href="#register">Register</a></li>
                   </ul>
                </li>

                <li><a href="{% url 'about' %}">About Us </a></li>
            </ul>

            <form action="/search" method="GET" class="search-form">
                <input type="text" name="query" placeholder="Search..." class="search-input">
                <button type="submit" class="search-button">Search</button>
            </form>
        </nav>

    </header>

    {% block banner %}{% endblock %}
    
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>C/O 2024 </p>
    </footer>
</body>
</html>